.fetcher {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  button {
    padding: 5px;
    margin: 5px;
  }
  img {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    max-height: 400px;
  }
  .quote {
    color: #AAA;
    font-size: 1.5em;
    padding: 10px 80px;
    margin: 0 auto;
    display: inline-block
  }
}